@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
    padding-bottom: 0px; !important;
}

h2 {
    font-size: 34px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* ----------------------Navegação-----------------------
---------------------------------------------------------*/

.minha-nav {
    background: url("../img/greywaves.png");
}

ul li {
    color: #222;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    margin: 5px 0;
    font-weight: 600;
}

li a{
    margin: 10px 0 !important;
    padding: 10px 15px !important;
}

ul li a:hover {
    color: #286090 !important;
}

li .links-nav {
    color: #286090 !important;

}

li .links-nav:hover {
    color: maroon !important;
}

.nao-clicavel {
    pointer-events: none;
    cursor: default;
}

.input-dropdown:focus {
    border-color: #000 !important;
    box-shadow: inset 0 0px 1px #555, 0 0 8px #080808
}

/* ----------------------Dropdown menu-------------------
---------------------------------------------------------*/
.dropdown-nav {
    padding-top: 10px;
    text-align: center;
}

.dropdown-nav span {
    color: #222 !important;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.42857143;
}

.form-nav {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    margin: 0 !important;
}

.form-nav .help-block {
    font-size: 12px
}

.form-nav .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

.form-nav .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #286090;
}

.btn-fb:hover {
    color: #fff;
    background-color: #272727;

}

@media (max-width: 768px) {
    #form-nav {
        background-color: inherit;
        color: #fff;
    }

    #form-nav .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

/* ----------------------Carrossel-----------------------
---------------------------------------------------------*/
.carousel-indicators .active {
    background-color: #712800 !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    padding-top: 85px;
}

/* ----------------------Serviços-------------------------
---------------------------------------------------------*/
.servicos-div {
    max-width: 400px;
    margin: 50px auto 0;
}
@media (min-width: 992px) {
    .servicos-div {
        margin: 20px auto 0;
    }
}
.servicos-div p {
    margin-bottom: 0;
}

.text-primary {
    color: #f05f40;
}

hr {
    border-color: #444444;
    width: 100%;

}

::selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

/* ----------------------Efeitos-----------------------
---------------------------------------------------------*/

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.transicao-03s {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.transicao-04s {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.transicao-05s {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    body {
        font-size: 12px;
    }

   .navbar-brand {
       padding-top: 5px !important;
   }

    .logo {
        content: url("../img/icon-45px.png");
    }

    .carousel-inner > .item > img {
        padding-top: 51px !important;
    }
}

.ativo {
    background-color: #eaebed;
}

.ativo a {
    color: maroon !important;
}
.margin-top-10 {
    margin-top: 10px;
}

.block {
    display: block;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/* ----------------------Contato e footer----------------
---------------------------------------------------------*/
.main-section.contact{
    padding:100px 0 100px;
}

/*.main-section.contact{
    background:url(../img/bg-map.png) left 190px no-repeat;
}*/
.contact-info-box{
    font-size:15px;
    margin:0 0 14px 68px;
    padding-left:0;
}
.contact-info-box h3{
    font-size: 15px;
    font-weight:400;
    float:left;
    width:102px;
    margin-right:12px;
    line-height:28px;
}
.contact-info-box h3 i{
    font-style:normal;
    font-size:18px;
    color:#222222;
    font-family: 'FontAwesome';
    font-weight:normal;
    margin-right:7px;
}
.contact-info-box span{
    line-height:28px;
    display:block;
    overflow:hidden;
}
.social-link{
    padding:35px 0;
    margin:0 0 0 68px;
    display:block;
    overflow:hidden;
    list-style:none;
}
.social-link li{
    float:left;
    margin-right:8px;
}
.social-link li a{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:25px;
    color:#fff;
    background:#222222;
    border-radius:50%;
    transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
    text-decoration:none;
}
.twitter a:hover {
    background: #55acee;
    color: white !important;
}
.facebook a:hover {
    background: #3b5998;
    color: white !important;
}
.github a:hover {
    background: #4078c0;
    color: white !important;
}
.gplus a:hover {
    background: #dd4b39;
}
.linkedin a:hover {
    background: #0077b5;
    color: white !important;
}

.form{
    margin:0 66px 0 30px;
}
.input-text{
    padding:15px 16px;
    border:1px solid #ccc;
    width:100%;
    height:50px;
    display:block;
    border-radius:4px;
    font-size:15px;
    color:#aaa;
    font-family: 'Open Sans', sans-serif;
    margin:0 0 15px 0;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
    border: 1px solid #5bc0de;
    outline:0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
    height:165px;
    resize:none;
    overflow:auto;
}
.input-btn{
    width:175px;
    height:50px;
    background:#002a80;
    border-radius:4px;
    color:#ffffff;
    font-size:14px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    border:0px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
    background: white;
    color: #2b669a;
}

.footer{
    background:url(../img/greywaves.png) left top no-repeat;
    padding:35px 0 0px;
    padding-bottom: 40px !important;
}
.footer-logo{
    margin:15px auto 35px;
    width: 76px;
}
.copyright{
    color:#cccccc;
    font-size:14px;
    display:block;
    text-align:center;
}

.res-nav_click {
    line-height:38px;
    font-family: 'FontAwesome';
    font-size:38px;
    text-decoration: none !important;
    color:#777777;
    font-style:normal;
    display:none;
    width:42px;
    height:27px;
    margin:20px auto;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
    color: #7cc576 !important;
}

.portfolioContainer{
    max-width: 1140px;
}

@media (max-width: 765px) {
    .marketing{
        margin-top: 70px;
    }
}
